.InputDiv {
    border: 1px solid black;
}

.FormButtons {
    border: 1px solid black;
}

.Inputs {
    border: 1px solid black;
}

/* .LayerAdd {
    border: 5px solid navy;
 }

  @media screen and (min-width: 420px) {
    h1 {
      font-size: 20px
    }

    .cake {
        float: right;
    }
    
} */ 